
<!-- Default Angular Header -->
<app-header></app-header>

<!-- Inputs -->
<div class="wrapper">

  <!-- on every keystroke, set the total string input to local scope...
  using #id to retrieve value, which is quicker than event.value -->
  <div class="control">
    Input 1:
    <input #box (keyup)="keyPress1(box.value)" />
    <br>
    Input 1b:
    <input #box2 (keyup)="keyPress1b(box2.value)" />
  </div>
  processed input 1 (as array):
  <a class="list-item" *ngFor="let value of this.outArray">{{value}}</a>
  <br>
  processed input 1b (as string): {{outString}}
  <hr>
  
  <!-- using ngModel and $event object...outdated, slow...also ngModel requires FormsModule import -->
  <div class="control">
    Input 2:
    <input type="text" [(ngModel)]="out2" (input)="keyPress2($event)" class="input" />    
  </div>
  processed input: {{ query1 }}
  <br>
  2-way binded field: {{ out2 }}

</div>

<!-- API calls -->
<div class="wrapper">

  <!-- Autocomplete -->
  <hr>
  <div class="field">
    <label class="label">Input 3 (Autocomplete):</label>
    <div class="control">
      <input class="input" #box3 (keyup)="autoComplete(box3.value)">
    </div>
    output:
  </div>

  <hr>

  <!-- Using service to fetch data (from local Json file, simulating API) -->
  Config Service:
  <br>
  <ul class="list-group">
    <li class="list-item">{{config?.heroesUrl}}</li>
    <li class="list-item">{{config?.textfile}}</li>
    <li class="list-item">{{config?.date}}</li>
  </ul>

  <!-- Using fetch() to display author API call-->
  <hr>
  Author Fetch:
  <!-- {{authors}} -->
  <ul class="list-group">
    <li class="list-item" *ngFor="let item of authors"><b>{{item.author}}</b> : {{item.text}} 
    </li>
  </ul>
  <br>

</div>

<router-outlet />
